/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

/* Suite au Log In */
header h1  a{
	color: #B1663C;
	text-decoration: none;
}


.blackbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:black;
	padding:15px;
	gap:10px;
}

.blackbar i {
	color : white;
}

.blackbar p {
	font-family: Work Sans;
	font-weight:400;
	font-size:16px;
	color: white;
}


/* Fin Log In */

section {
	margin: 70px 0px 50px 0px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav img {
	width: 22px;
	height: 22px;
}

/*Login */
nav a {
	color: black;
	text-decoration: none;
}

.error {
	color:red;
	margin-top:10px;
}


/* Fin Login */
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
    /* margin: auto; */
    /* width: 80%; */
    width: 474px;
    height: 355px;
    padding-left: 57px;
}

#introduction article {
	flex: 1;
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 80px 80px 80px 70px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	padding-left: 57px;
}
#portfolio h2 {
	text-align: center;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	font-size: 26px;
    line-height: normal;
}

/* Modification */

.myprojects {
	gap:40px;
}


.prodiv {
	display:flex;
	justify-content: center;
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}

.modification {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:10px;
	gap:10px;
}

.modification i {
	color : black;
}

.modification a {
	text-decoration: none;
	font-family: Work Sans;
	font-weight:400;
	font-size:14px;
	color:black;
	cursor:pointer;
	
}


/* Fin Modification */

/* Modale 1*/

.modal {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	/*height: 100%;*/
	background-color: rgba(0, 0, 0, 0.3);
}

  
.modal-content {
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin: 600px 405px 2037px 405px;
	padding: 20px;
	border: 1px solid;
	border-radius: 10px;
	border-color:white;
	width:630px;
	
}
 
.modal-content h2 {
	margin-right:0;
}

.close {
	position: absolute;
    right: 30px;
	align-self: flex-end;
    color: black;
    font-size: 28px;
    font-weight: bold;
    /* width: 12.01px; */
    height: 12.01px;
}
  
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.titlemodal {
	text-align: center;
	font-family: Work Sans;
	font-weight:400;
	font-size:26px;
	color:black;
	padding-left:10px;

}

/*Gallerie modale */
.gallerymodal {
	display: grid;
	justify-items: center;
    /*row-gap: 20px;
	column-gap: 10px;*/
	grid-template-columns: 100px 100px  100px  100px  100px;
	border-bottom: solid;
    border-color: #B3B3B3;
    border-width: 1px;
    padding-bottom: 40px;
}

.gallerymodal figure {
	position:relative;
	margin:10px;
}

.gallerymodal img {
	display: block;
	/*width:100%;*/
	width: 78.123px;
    height: 104.08px;
}

.gallerymodal figcaption {
	display:none;
}


.gallerymodal .trash {
	position: absolute;
  	top: 10px; 
  	right: 7px; 
  	font-size: 10px; 
  	color: white;
	padding:3px;
	background-color: black;
	width: 9px;
    height: 11px;
}

/* Fin Gallerie modale */

.newphoto {
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0em;
	text-align: center;
	color:white;
	background-color: #1D6154;
	margin-top:20px;
	margin-bottom:20px;
	border:solid;
	border-radius:60px;
	padding:10px 10px;
	width:237px;
	cursor:pointer;
	
	
}

/* Fin Modale 1*/

/* Modale 2*/

.form-new {
	display: flex;
	flex-direction: column;
	width:70%;
}

.form-new input {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-new select {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.new-image {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid;
	border-radius:3px;
	border-width: 0px;
	background-color: #E8F1F6;
}

#imagePreview {
	display:none;
	width: 40%;
    padding-top: 15px;
}


.new-image i {
	color: #B9C5CC;
	margin-top:20px;
	margin-bottom:10px;
	
}

.new-image input {
	display:none;
}

.new-image label {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	cursor: pointer;
	color: #306685;
	background-color:#CBD6DC;
	border-radius:50px;
	padding:10px 30px;
}

.new-image p {
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
	color: #444444;
	margin-bottom:10px;
}



.title-image {
	display: flex;
	flex-direction: column;
	gap:10px;
	margin-top:10px;
}

.title-image label {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	font-weight:bold;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #3D3D3D;
}

.title-image input {
	height: 50px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #444444;
	padding-left:10px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


.category-image {
	display: flex;
	flex-direction: column;
	gap:10px;
	margin-top:0px;
	
	border-bottom: solid;
    border-color: #B3B3B3;
    border-width: 1px;
    padding-bottom: 40px;
}


.category-image label {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	font-weight:bold;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #3D3D3D;

}

.category-image select {
	height: 50px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #444444;
	/*border: none;*/
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left:10px;
}


#validate {
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0em;
	text-align: center;
	cursor:pointer;
	color:white;
	/*background-color:#A7A7A7;*/
	/*margin-top:20px;*/
	margin-bottom:20px;
	border:solid;
	border-width: 0px;
	border-radius:60px;
	padding:10px 10px;
	width:237px;

}


/* Fin Modale 2 */

.filters {
	display: flex;
	justify-content: center;
	padding-top:20px;
	padding-bottom: 40px;
    gap: 10px;
}

.filters button {
	color: #1D6154;
	background-color: unset;
    font-family: Syne;
    font-size: 16px;
    border-width: 1px;
    border-radius: 60px;
    padding: 10px 25px;
	cursor: pointer;
}

.filters button:active{
	background-color:#1D6154;
	color:white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.figure  {
	display:block;
}

.selected {
	display:block;
}

.not-selected {
	display: none;
}


.gallery figcaption{
	padding-top:10px;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


#connexion:active {
	background-color: black;
}

#mdp{
	text-align: center;
	text-decoration: underline;
}


input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

